.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__intro {
    width: 100%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 35%;
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
}

.movie__detailRightTop > div {
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}

.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.synopsisText > div:last-of-type {
    margin-left: auto;
}

.movie__links {
    position: relative;
    bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 75%;
}

.movie__heading {
    font-size: 2.2rem;
    width: 100%;
}

.movie__Button, .movie__homeButton, .movie__imdbButton, .movie__youtubeButton, .ott-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    min-width: 130px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.movie__homeButton {
    background-color: rgb(255, 0, 0);
}

.movie__imdbButton {
    background-color: #f3ce13;
    color: black;
}

.movie__youtubeButton {
    background-color: #FF0000;
    color: black;
}

.ott-button {
    background-color: #ff0000;
}

.ott-button:hover, .movie__homeButton:hover, .movie__imdbButton:hover, .movie__youtubeButton:hover {
    filter: brightness(0.85);
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}

.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.more-like-this {
    margin-top: 2rem;
}

.similar-content {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}

.similar-item {
    text-align: center;
}

.similar-item img {
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 8px;
}


.similar-item p {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.watchlist-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #6e6e6e;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 150%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6e6e6e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.watchlist-dropdown:hover .dropdown-content {
    display: block;
}

.add-to-watchlist-button {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}